:root {
    --colette: #8f055d;
    --colette-rgb: 143, 5, 93;
    --player: #4a9170;
    --player-rgb: 74, 145, 112;
}

.storyComponent {
    display: block;
}

.image {
    display: flex;
    justify-content: center;
}
.image > img {
    max-width: 100%;
}
.title {
    margin: 0;
    margin-bottom: 2vh;
    color: blue;
}

.coletteText {
    position: relative;
    display: block;
    margin: 2rem 0 3rem;
    padding: 2rem 3rem;
    width: 60%;
    height: auto;
    background-color: rgba(var(--colette-rgb), .1);
    border-radius: 1rem;
}
.coletteText:before {
    position: absolute;
    top: 100%;
    left: 1rem;
    display: block;
    width: 0;
    content: '';
    border-top: 2rem solid rgba(var(--colette-rgb), .1);
    border-left: .25rem solid transparent;
    border-right: 2.25rem solid transparent;
}

.answers {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.answers .answer {

}
.answer {
    display: block;
    margin: 0 .25rem;
    padding: .5rem 2rem;
    background-color: rgba(150,150,150,.4);
    border: 1px solid black;
    border-radius: .25rem;
    cursor: pointer;
}

.history {
    display: block;
    margin-bottom: 4rem;
    padding: 2rem 1rem;
    border: 1px solid var(--colette);
    border-radius: 1rem;
}


.storyFragment {
    position: relative;
    display: block;
    margin: 2rem 0 3rem;
    padding: 2rem 3rem;
    width: 60%;
    height: auto;
    border-radius: 1rem;
}
.storyFragment:before {
    position: absolute;
    top: 100%;
    display: block;
    width: 0;
    content: '';
    border-top: 2rem solid rgba(var(--player-rgb), .1);
    border-left: 2.25rem solid transparent;
    border-right: .25rem solid transparent;
}

.storyFragmentColette {
    background-color: rgba(var(--colette-rgb), .1);
}
.storyFragmentColette:before {
    left: 1rem;
    border-top: 2rem solid rgba(var(--colette-rgb), .1);
    border-left: .25rem solid transparent;
    border-right: 2.25rem solid transparent;
}

.storyFragmentAnswer {
    margin-left: auto;
    background-color: rgba(var(--player-rgb), .1);
}
.storyFragmentAnswer:before {
    right: 1rem;
    border-top-color: rgba(var(--player-rgb), .1);
    border-left: 2.25rem solid transparent;
    border-right: .25rem solid transparent;
}
